@import "./variables.scss";
@import "./table.scss";
@import "./button.scss";
@import "./spinner.scss";

body {
  background-color: var(--dark-gray);
}

#page {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}

.fixed {
  position: fixed;
  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}